html, body{
    margin: 0;
    padding: 0;
    /*background-color: #161616;*/
    background-color: black;
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    height: 100%;
}
.loader{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo{
    width: 50%;
    height: auto;
}

::-webkit-scrollbar {display:none;}

h1{
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.video{
    width: 1280px;
    height: 720px;
}
.videowrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.video-h{
    text-align: center;
}